.header-component {
  display: flex;
}

.nabil {
  width: 200px; /* Adjust the width according to your design */
  padding: 20px;
  background-color: #f4f4f4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.accordions-container {
  flex: 1;
  padding: 20px;
}

.Accordion-root {
  margin-bottom: 15px;
}

.Accordion-root .MuiAccordionSummary-root {
  background-color: #ddd;
}

.Accordion-root .MuiAccordionDetails-root {
  padding: 15px;
  background-color: #f9f9f9;
}

.Accordion-root .MuiTypography-root {
  font-weight: bold;
}

.Accordion-root button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #28ceb2;
  color: #fff;
  border: none;
  cursor: pointer;
}

.Accordion-root button:hover {
  background-color: #28ceb2;
}
