/* .whole-page {
  background-color: green;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: green;
  color: black;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 30px;
  background-color: white;
  padding: 30px;
  margin-top: 0px;
}

.middle-component {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 6rem;
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow: hidden;
  color: black;
}

/* .middle-component href {
  color: black;
} */

/* .description {
  max-width: 320px;
}

.landing-image {
  width: 400px;
  height: 400px;
}  */
