/* .head-page {
  display: flex;
  flex-direction: row;
}
body {
  background-color: white;
} */

/* mainDashboard.css */

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: white;
}

.head-page {
  background-color: white; /* Example color for the header */
  color: white;
  /* padding: 10px; */
  text-align: center;
}

.header-component {
  display: flex;
}

.nabil {
  width: 200px; /* Set a fixed width for the sidebar */
  background-color: #f8f9fa; /* Example color for the sidebar background */
}

.accordions-container {
  flex-grow: 1; /* Take up remaining space */
  padding: 20px; /* Optional padding for better spacing */
}

.Accordion-root {
  width: 100%;
}

.AccordionSummary-root {
  background-color: #28ceb2; /* Example color for the accordion header */
  color: white;
}

.AccordionDetails-root {
  background-color: #fff; /* Example color for the accordion content background */
  padding: 15px;
}
