.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: #28ceb2;
  height: 100%;
  width: 100%;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-top: 50px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    box-sizing: border-box;
  }
}
