/* fileUpload.css */

.head-page {
  /* Add any styles for the header */
}

.nabil {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10rem;
}

.file-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

/* Add any other styling you need */
