.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: self-start; */
  width: 98%;
  background-color: #28ceb2;
  padding: 1rem;
  border: 2px solid c0bfbf;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px #c0bfbf;
}
